<p><h3>{{event.title}}</h3></p>
<p>{{event.shortdescribe}}</p>
{{#if isDescribeShowing}}
 <p>{{event.describe}}</p>
<p><button {{action "describeHide"}}>Hide descirbe</button></p>
{{else}}
<p><button {{action "describeShow"}}>Show descirbe</button></p>
{{/if}}
