<h2>{{event.title}}</h2>
<p>{{event.shortdescribe}}</p>
{{#if isDescribeShowing}}
  <p>{{event.describe}}</p>
<button {{action "describeHide"}}>Hide descirbe</button>
{{else}}
<button {{action "describeShow"}}>Show descirbe</button>
{{/if}}
